body{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}
.main{
    display: flex;
    flex-direction: row-reverse;
    
    width: 1200px;
    margin: 0 auto;
}
.main_content{
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 102px 88px;
}
.about{
    margin: 0 0 40px 0;
    
}
.about_position{
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    color: #000000;
    margin: 0 0 19px 0;
}
.about_name{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin: 0 0px 24px 0;
}
.about_description{
    color: #595959;
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    width: 400px;
}
.project{
    padding: 40px 0 0 0px;
    margin: 0 0 51px 0;
    
}
.project_title{
    margin: 0 0 10px 0;
}
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    
}
.project_list{
    padding: 0;
    margin: 0 0px 0 15px;
}
.project_item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.project_span{
    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.project_link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin: 0 0 0 10px;
}
.project_bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.work{
   
   
}
.work_title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 12px 0;
    color: #000000;
} 
.work_position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 11px 0;
}
.color{
    color: #FB6D3A;
    font-weight: bold;
}
.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 8px 0;
}
.responsibil{
    padding: 0;
    margin: 0 0 16px 15px;

}
.work_item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    
}
.education{
    margin: 42px 0 12px 0;
    
}
.university{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 11px 0;
}
.profession{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 12px 0;
}
        
.sidebar{
    background-color: #1e2939;
    padding: 40px 0 0 0 ;
    width: 370px;
}

.photo{
    width: 370px;
    margin: 0 0 50px 0;
}
.sidebar_title{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 10px 0;
}
.contacts,
.tech_skills,
.soft_skils{
    margin: 0 0 50px 40px;
}
.contacts{
    margin: 0 0 50px 40px;
}
.contact_type{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 0 5px 0 0px;
}
.contact_link{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: rgb(73, 68, 68);
    text-align: center;
}
.tech_skills_list{
    color: white;
    padding: 0;
    margin: 0 0 0 15px;

}
.soft_skills_list{
    color: white;
    padding: 0;
    margin: 0 0 0 17px;
}
.tech_skills_text{
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    
}
.tech_skills_item{
    color: rgb(255, 115, 0);
   
}